*{
    font-family: 'Signika Negative', sans-serif;
    /*background-image: url(GAMBAR/Group\ 1.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 50vmax;
    /*box-sizing: border-box;*/
}

#body{
    background-image: url(GAMBAR/Group\ 1.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 50vmax;
}

@media print{
    
}